.post-container h3,
.post-container h4,
.post-container h5,
.post-container h6 {
    font-family: var(--fonte-secundaria);
}

.post-container h3 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.post-container h4 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.post-container p {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-bottom: 1.5rem;
}

.post-container a {
    color: #0493d4;
    text-decoration: underline;
}

.post-container img {
    display: block;
    margin: 0 auto;
}

.post-container ul {
    font-size: 1.5rem;
}

.post-container ul > li {
    margin-bottom: 1rem;
    list-style: disc;
}

.post-container pre,
.post-container blockquote {
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: #eaeaea;
    border-radius: 5px;
}

.post-container pre {
    overflow-x: auto;
}

@media (max-width: 1100px) {
    .post-container p {
        margin-bottom: 2rem;
    }
}

@media (max-width: 744px) {
    .post-container h3 {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 1.5rem;
    }

    .post-container p {
        font-size: 1rem;
        line-height: 1.75rem;
    }
}